packaging_format = 2

id = "scrutiny"
name = "Scrutiny"
description.en = "WebUI for smartd S.M.A.R.T monitoring"

version = "0.8.1~ynh1"

maintainers = ["ewilly"]

[upstream]
license = "MIT"
admindoc = "https://github.com/AnalogJ/scrutiny/tree/master/docs"
code = "https://github.com/AnalogJ/scrutiny"
fund = "https://paypal.me/analogj/usd10"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "arm64"]
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/scrutiny"
    
    [install.collector]
    ask.en = "Should the collector be activated on this host?"
    help.en = "Let it to true if yunohost is running on bare metal (i.e. not in a VM or in a LXC)"
    type = "boolean"
    default = true

[resources]
    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        rename = "scrutiny-web-linux"
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.1/scrutiny-web-linux-amd64"
        amd64.sha256 = "2cae6dc7ff4b0e510ed84763bfdd310839fc1cefe042610d1dd76e97cd7445a3"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.1/scrutiny-web-linux-arm64"
        arm64.sha256 = "c0589522c02e1779468036e099ac307e54cf76505e747b976dfa38e736289c6f"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-web-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-web-linux-arm64$"

        [resources.sources.scrutiny-collector-metrics-linux]
        in_subdir = false
        amd64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.1/scrutiny-collector-metrics-linux-amd64"
        amd64.sha256 = "904056ddc4e0bd3455a0db45d56f98084135a967eef018d18bfc8e4c0ef6887e"
        arm64.url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.1/scrutiny-collector-metrics-linux-arm64"
        arm64.sha256 = "63f792f2af8ce02759c99520cc5e9f0fb811e90c397ecbd911f2c14c8610aefd"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^scrutiny-collector-metrics-linux-amd64$"
        autoupdate.asset.arm64 = "^scrutiny-collector-metrics-linux-arm64$"

        [resources.sources.scrutiny-web-frontend]
        in_subdir = true
        url = "https://github.com/AnalogJ/scrutiny/releases/download/v0.8.1/scrutiny-web-frontend.tar.gz"
        sha256 = "1160db33f9b9d53a25e0a0dac2cb9381c04728b43b4616eff9a15a1aa08fda43"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^scrutiny-web-frontend.tar.gz$"

    [resources.system_user]

    [resources.install_dir]
    dir = "/var/www/__APP__"
    owner = "__APP__:rwx"
    group = "__APP__:rx"

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    main.show_tile = true
    main.protected= true
    main.allowed = "admins"
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors", "all_users"]

    [resources.ports]
    main.default = 8080

    [resources.apt]
    packages = "smartmontools"
    extras.influxdb.repo = "deb https://repos.influxdata.com/debian stable main"
    extras.influxdb.key = "https://repos.influxdata.com/influxdata-archive_compat.key"
    extras.influxdb.packages = "influxdb2"
