[Unit]
Description=Scrutiny Collector Timer

[Timer]
OnCalendar=daily
OnStartupSec=60min
RandomizedDelaySec=60min
Persistent=true

[Install]
WantedBy=timers.target
